@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Pathway+Gothic+One&family=Poppins:wght@300&family=Press+Start+2P&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');

body {
    background-image: url(images/bg2.png);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.group {
    background-color: #35408E;
    border-radius: 5px;
    width: 80%;
    padding: 10px 0;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 2em;
    display: inline-flex;
    align-items: center;
}
div.group label{
    margin-left: 2em;
    color: white;
    width: 27%;
}
div.group select{
    background-color: #FCD323;
    font-size: 18px;
    padding: 7px;
    width: 60%;
    margin-right: 2em;
    border-radius: 5px;
    color: black;
}

table#header {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    background-color: #FCD323;
}
table#header th,table#header  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
table#header th {
    background-color: #35408E;
    color: white;
}

#chart_div{
    width: 80%;
    margin: 0 auto;
}
button {
    background-color: #FCD323;
    border: none;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 7em;
    display: inline-block;
    font-size: 16px;
    margin-right: 4em;
    margin-left: 2em;
    cursor: pointer;
}
table#data {
    font-size: 16px;
    border-collapse: collapse;
    background-color: #FCD323; 
    margin: 0 auto;
    width: 80%;
    border: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
table#data th,table#data  td {
    padding: 8px;
    text-align: left;
}
table#data th {
    background-color: #35408E;
    color: white;
}
