@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Pathway+Gothic+One&family=Poppins:wght@300&family=Press+Start+2P&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');

body {
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/*
customization
*/
#title{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 3em;
}

form {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/a/a2/National_University_seal.png");
    background-size: cover;
    max-width: 700px;
    width: 100%;
    border: 3px solid #001219;
    padding: 20px;
    background: #00AFEF;
    border-radius: 20px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: black;
    font-size: 18px;
    padding: 10px;
}

.error {
    background: #F2DEDE;
    color: #0c0101;
    border: 1px solid black;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    margin: 20px auto;
    margin-top: -30px;
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(134, 3, 3);
}





div.alert{
    top: 0;
    display: none;
    position: fixed;
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    }

