@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Pathway+Gothic+One&family=Poppins:wght@300&family=Press+Start+2P&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');

body {
    background-image: url(images/bg3.png);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
label {
    margin-bottom: 10px;
    
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
div.group {
    background-color: #35408E;
    border-radius: 5px;
    width: 80%;
    padding: 10px 0;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 2em;
    display: inline-block;
}
div.group label{
    margin-left: 2em;
    color: white;
    width: 27%;
   
}

div.group select{
    background-color: #FCD323;
    font-size: 25px;
    width: 60%;
    margin-right: 2em;
    text-align: left;
    border-radius: 10px;
    color: black;
    border-radius: 5px;

}

a{
    display: inline-flex;
    float: right;
    width: 10%;
    height: 3em;
    align-items: center;
    text-align: center;
    background: #35408E;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    margin-top: 3%;
    margin-right: 10%;
    border: none;
    text-decoration: none
  
}
a:hover{
  opacity: .7;
}
a img{
  margin-right: 20px;
  max-width: 100%;
  height: 1.5em;
}

h3{
  
  background-color: #35408E;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  color: white; 
  width: 300px;
  
}
h2 {
    background-color: #FCD323;
    padding: 10px;
    text-align: left;
    color: black;
    margin-bottom: -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    

}

.error, .success {
  margin: 0;
   background: #DB8E8E;
   color: #0c0101;
   width: 100%;
   font-size: 1em; /* Use relative units for font-size */
   text-align: center;
   padding: 10px;
   border-radius: 5px;
   font-weight: bolder;
}

.success{
    background: #9de999;
}

.rubrics{
    width: 80%;
}
.question {
    display: table;
    width: 100%;
    background-color: #35408E;
    padding: 10px;
  }
  
  .question p,
  .question label {
    display: table-cell;
    vertical-align: middle;
    padding:20px;
  }
  
  .question p {
    width: 50%;
    color: white;
    font-size: 20px;
  }
  
  .question label {
    text-align: center;
    background-color: #FCD323    ;
    border-left: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
  }
  
  
  .question input[type="radio"] {
    display: none;
  }
  
  .question label:hover {
    background-color:   #35408E;
    color: white;
    width: 100px;
    height: 50px;
    padding: 10px;
    border: 10px solid #FCD323;
    box-sizing: border-box;
    
    
  }
  
  .question input[type="radio"]:checked + label {
    background-color:  #35408E;
    width: 100px;
    height: 50px;
    padding: 10px;
    border: 10px solid #FCD323;
    box-sizing: border-box;
    color: white;

  }

button[type="submit"] {
    background-color:  #35408E;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    
}
button:hover{
  opacity: 0.7;
}